@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 239 68% 68%;
  --accent: 188 95% 68%;
  --background: 210 20% 98%;
  --dark-mode: 222 84% 5%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    font-family: Inter, sans-serif;
  }
}